<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/GaiaDatabase</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property>
    <property name="connection.username">root</property>
    <property name="connection.password">cancer160799</property>
    <mapping class="GaiaProjectAppService.models.entities.Animalia"/>
    <mapping class="GaiaProjectAppService.models.entities.AnimaliaZone"/>
    <mapping class="GaiaProjectAppService.models.entities.Association"/>
    <mapping class="GaiaProjectAppService.models.entities.Botanic"/>
    <mapping class="GaiaProjectAppService.models.entities.BotanicPlantae"/>
    <mapping class="GaiaProjectAppService.models.entities.Caretaker"/>
    <mapping class="GaiaProjectAppService.models.entities.CaretakerAnimalia"/>
    <mapping class="GaiaProjectAppService.models.entities.CaretakerPlantae"/>
    <mapping class="GaiaProjectAppService.models.entities.Donation"/>
    <mapping class="GaiaProjectAppService.models.entities.Guide"/>
    <mapping class="GaiaProjectAppService.models.entities.InventoryDonation"/>
    <mapping class="GaiaProjectAppService.models.entities.Itinerary"/>
    <mapping class="GaiaProjectAppService.models.entities.ItineraryGuide"/>
    <mapping class="GaiaProjectAppService.models.entities.ItineraryZone"/>
    <mapping class="GaiaProjectAppService.models.entities.Management"/>
    <mapping class="GaiaProjectAppService.models.entities.Merchandising"/>
    <mapping class="GaiaProjectAppService.models.entities.MonetaryDonation"/>
    <mapping class="GaiaProjectAppService.models.entities.PaymentDetail"/>
    <mapping class="GaiaProjectAppService.models.entities.Plantae"/>
    <mapping class="GaiaProjectAppService.models.entities.Program"/>
    <mapping class="GaiaProjectAppService.models.entities.ProgramDonation"/>
    <mapping class="GaiaProjectAppService.models.entities.Sale"/>
    <mapping class="GaiaProjectAppService.models.entities.SaleDetail"/>
    <mapping class="GaiaProjectAppService.models.entities.Security"/>
    <mapping class="GaiaProjectAppService.models.entities.Shift"/>
    <mapping class="GaiaProjectAppService.models.entities.Specie"/>
    <mapping class="GaiaProjectAppService.models.entities.Staff"/>
    <mapping class="GaiaProjectAppService.models.entities.Supply"/>
    <mapping class="GaiaProjectAppService.models.entities.Transferences"/>
    <mapping class="GaiaProjectAppService.models.entities.TransferencesAnimalia"/>
    <mapping class="GaiaProjectAppService.models.entities.TransferencesPlantae"/>
    <mapping class="GaiaProjectAppService.models.entities.User"/>
    <mapping class="GaiaProjectAppService.models.entities.Veterinary"/>
    <mapping class="GaiaProjectAppService.models.entities.VeterinaryAnimalia"/>
    <mapping class="GaiaProjectAppService.models.entities.Viatic"/>
    <mapping class="GaiaProjectAppService.models.entities.Warehouse"/>
    <mapping class="GaiaProjectAppService.models.entities.Zone"/>
    <mapping class="GaiaProjectAppService.models.entities.PlantaeZone"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>